## Ejercicio 1
Realiza una variable con tu matricula y realiza una secuencia de 
imprimir con tu nombre y tu matricula concatenados.

In [2]:
m=1941600
print("Nombre: Oscar Cardenas, matricula:",m)

Nombre: Oscar Cardenas, matricula: 1941600

## Ejercicio 2
Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [1]:
a=float(input("Introduce el primer número: "))
op=int(input("Introduce el número según la operacion a efectuar: \n1. Suma\n2. Resta\n3. Multiplicación\n4. División\n"))
b=float(input("Introduce el segundo número: "))
if op==1:
    r=a+b
elif op==2:
    r=a-b
elif op==3:
    r=a*b
elif op==4:
    r=a/b
else:
    print("Operación incorrecta")
print("El resultado de la operación es: ",r)

Introduce el primer número: 23
Introduce el número según la operacion a efectuar:
1. Suma
2. Resta
3. Multiplicación
4. División
1
Introduce el segundo número: 24
El resultado de la operación es:  47.0

## Ejercicio 3
Con loop while o for, realiza una lista de 10 numeros multiplos de 3, 
y después realiza una función de loop que sume todos los números dentro del arreglo.

In [8]:
suma=0
print("Los primeros 10 multiplos de 3 son:")
for i in range(1,31):
    if i%3==0:
        suma+=i
        print(i)
    i+=1
print("Su suma es:",suma)

Los primeros 10 multiplos de 3 son:
3
6
9
12
15
18
21
24
27
30
Su suma es: 165

## Ejercicio 4
Con una función de if else, revisar si un número es par o es impar.
Con una función de if else, revisar si un número es primo o no.

In [20]:
num=int(input("Introduce un número entero para ver si es par o impar y primo: "))
if num%2==0:
    print(num,"es número par")
else:
    print(num, "es impar")
for i in range (2, num):
    if num%i==0:
        print(num, "no es primo")
    break
else:
    print(num, "es un número primo")

Introduce un número entero para ver si es par o impar y primo: 876
876 es número par
876 no es primo

## Ejercicio 5
Utilizando diferentes clases en python, crea una calculadora con los operadores
básicos de suma, resta, multiplicación, división, y exponente.

In [1]:
class calcu():
    def __init__(self,a,b):
        self.a=a
        self.b=b
    def suma(self):
        return self.a+self.b
    def mult(self):
        return self.a*self.b
    def div(self):
        return self.a/self.b
    def resta(self):
        return self.a-self.b
a=float(input("Ingresa el primer número: "))
b=float(input("Ingresa el segundo número: "))
obj=calcu(a,b)
op=1
while op!=0:
    print("1. Sumar")
    print("2. Restar")
    print("3. Multiplicar")
    print("4. Dividir")
    op=int(input("Escoja el número de la operación que desea: "))
    if op==1:
        print("Resultado: ",obj.suma())
    elif op==2:
        print("Resultado: ",obj.resta())
    elif op==3:
        print("Resultado: ",obj.mult())
    elif op==4:
        print("Resultado: ",obj.div())
    else:
        print("Operación incorrecta")
    break

Ingresa el primer número: 34
Ingresa el segundo número: 3
1. Sumar
2. Restar
3. Multiplicar
4. Dividir
Escoja el número de la operación que desea: 4
Resultado:  11.333333333333334

## Tuplas
Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [1]:
f=23.345
i=6
b=True
c=5+6j
print("tipo de variable de f:",type(f))
print("tipo de variable de i:",type(i))
print("tipo de variable de b:",type(b))
print("tipo de variable de c:",type(c))

tipo de variable de f: <class 'float'>
tipo de variable de i: <class 'int'>
tipo de variable de b: <class 'bool'>
tipo de variable de c: <class 'complex'>

Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [2]:
tup=(3,4,5,6,7)
print(tup[0])
print(tup[4])

3
7

Añadir 3 valores de string a la tupla.

In [4]:
lista=list(tup)
lista.append("Arriba")
lista.append("los")
lista.append("tigres")
print(lista)
tupla=tuple(lista) #asigne valores a la tupla a partir de lista
print(tupla)

[3, 4, 5, 6, 7, 'Arriba', 'los', 'tigres']
(3, 4, 5, 6, 7, 'Arriba', 'los', 'tigres')

Verificar si una variable existe dentro de la tupla.

In [9]:
3 in tupla

True

## Listas
Crear una lista con 40 elementos aleatorios enteros.

In [23]:
import random
la=[random.randint(0,999) for i in range(40)]
print(la)

[803, 100, 463, 743, 145, 592, 178, 709, 671, 487, 761, 730, 280, 21, 458, 857, 542, 433, 308, 633, 323, 717, 314, 215, 915, 119, 18, 102, 742, 295, 426, 453, 116, 128, 401, 891, 568, 410, 339, 776]

Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [24]:
lpar=[]
limp=[]
def listas():
    for i in range(40):
        n=la[i]%2
        if n==0:
            lpar.append(la[i])
        else:
            limp.append(la[i])
    print("Lista par:",lpar)
    print("Lista impar:",limp)
listas()

Lista par: [100, 592, 178, 730, 280, 458, 542, 308, 314, 18, 102, 742, 426, 116, 128, 568, 410, 776]
Lista impar: [803, 463, 743, 145, 709, 671, 487, 761, 21, 857, 433, 633, 323, 717, 215, 915, 119, 295, 453, 401, 891, 339]

Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [25]:
a=len(lpar)
b=len(limp)
print(a)
print(b)

18
22

Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [26]:
lpar.sort(reverse=True)
print(lpar)
limp.sort()
print(limp)

[776, 742, 730, 592, 568, 542, 458, 426, 410, 314, 308, 280, 178, 128, 116, 102, 100, 18]
[21, 119, 145, 215, 295, 323, 339, 401, 433, 453, 463, 487, 633, 671, 709, 717, 743, 761, 803, 857, 891, 915]

Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [27]:
la.insert(5,555)
c=la.count(1)
print("Longitud de la lista:",len(la),"\nDato mayor:",max(la),"\nDato menor:",min(la), "\nSuma de los datos: ",sum(la))
print("Numero de veces que aparece 1 en la lista: ",c)

Longitud de la lista: 41
Dato mayor: 915
Dato menor: 18
Suma de los datos:  18737
Numero de veces que aparece 1 en la lista:  0

## Diccionarios
Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [49]:
dic={"Nombres":["Emiliano","Paula", "Sebastian","Melissa","Raul", "Jimena"],"Edades":[19,21,18,20,21,18]}
print(dic)

{'Nombres': ['Emiliano', 'Paula', 'Sebastian', 'Melissa', 'Raul', 'Jimena'], 'Edades': [19, 21, 18, 20, 21, 18]}

Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [50]:
edades=list(dic.get("Edades"))
print(edades)

[19, 21, 18, 20, 21, 18]

Usando el diccionario y un loop, imprimir solo los nombres.

In [51]:
v=len(edades)
i=0
while i<v:
    nom=str(dic["Nombres"][i])
    print(nom)
    i+=1

Emiliano
Paula
Sebastian
Melissa
Raul
Jimena

Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [52]:
dic['Nombres'].append("Santiago")
dic['Edades'].append("13")
dic['Nombres'].append("Tatiana")
dic['Edades'].append("21")
print(dic)

{'Nombres': ['Emiliano', 'Paula', 'Sebastian', 'Melissa', 'Raul', 'Jimena', 'Santiago', 'Tatiana'], 'Edades': [19, 21, 18, 20, 21, 18, '13', '21']}

## Sets
Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [10]:
import random
s=set()
i=0
while i < 100:
    s.add((random.randint(1,25)))
    i+=1
print(s) #el set no puede tener 100 enteros del 1-25 ya que no contiene valores duplicados, por eso la longitud puede ser máximo 25

{1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}

Comprueba la longitud de tu set.

In [6]:
print(len(s))

25

Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [17]:
lista = []
for i in range(5):
    lista.append(random.randint(1,10))
    if lista[i] in s:
        print("El numero", lista[i],"aparece en el set 's'.")
    else:
        print("El numero", lista[i],"No aparece en el set 's'.")

El numero 9 aparece en el set 's'.
El numero 7 aparece en el set 's'.
El numero 6 aparece en el set 's'.
El numero 7 aparece en el set 's'.
El numero 5 aparece en el set 's'.